<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="me.ore.logback.gson.layout.LogbackGsonLayout">
                <logLineSeparator>&quot;&#0013;&#0010;&quot;</logLineSeparator>
                <stackTraceLineSeparator>&quot;&#0013;&#0010;&quot;</stackTraceLineSeparator>
                <propertySequenceNumber>sequenceNumber</propertySequenceNumber>
                <propertyTimestamp>timestamp</propertyTimestamp>
                <propertyThread>thread</propertyThread>
                <propertyLevel>level</propertyLevel>
                <propertyLogger>logger</propertyLogger>
                <propertyMessage>message</propertyMessage>
                <propertyError>error</propertyError>
                <defaultMessage>[NO-MSG]</defaultMessage>
                <gsonBuilderConfigurer>me.ore.logback.gson.layout.test.Config</gsonBuilderConfigurer>
            </layout>
        </encoder>
    </appender>

    <root>
        <appender-ref ref="CONSOLE"/>
    </root>

    <root level="DEBUG"/>
</configuration>
